
<ion-view view-title="Browse Music">
  <ion-content>
  	<div class="list list-inset">
  		<label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder="Busca" ng-model="search">
		</label>
  	</div>	
  	<ion-list>
  	  	<ion-item ng-repeat="music in musics | filter: search | orderBy: title" class="item item-thumbnail-left">
	  		<img ng-src="{{music.albumArtURL}}"/>
	  		<h2>{{music.title}}</h3>
	  		<h3>{{music.artist}} - {{music.album}}</h3>
  	  	</ion-item>
  	</ion-list>
  </ion-content>
</ion-view>
