<ion-view view-title="Playlists">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/main/playlists/{{playlist._id}}">
        {{playlist.title}} - {{playlist.songs.length}} Músicas
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="tabs-striped tabs-color-light tabs-background-dark">
  	<div class="tabs">
  		<a class="tab-item active" href="">
        <i class="icon ion-home"></i>
      	</a>
      	<a class="tab-item" href="#/main/add">
        <i class="icon ion-plus"></i>
      	</a>
  	</div>
  </div>
</ion-view>
