<ion-view view-title="{{playlist.title}}">
  <ion-content>
    <div class="list card">
    	<div class="item item-avatar">
    		<img ng-src="img/no-img.jpg">
    		<h2>{{playlist.creator.name}}</h2>
    		<p>{{playlist.creator.email}}</p>
    	</div>
    	<div class="item item-body">
    		<ion-list>
    			<ion-item ng-if="playlist.songs.length" ng-repeat="music in playlist.songs" >
                    <ion-option-button class="button-assertive ion-minus-circled" ng-click="removeSong(music._id)"></ion-option-button>
    				<music-tag class="item item-thumbnail-left"></music-tag>
    			</ion-item>
    			<ion-item ng-if="!playlist.songs.length" class="item item-icon-left">
    				<i class="ion-close-round"></i>
    				 Não há músicas nesta playlist.
    			</ion-item>
    		</ion-list>
    	</div>
    </div>
  </ion-content>
</ion-view>
