<ion-view view-title="{{playlist.title}}">
  <ion-content>
    <div class="list card">
    	<div class="item item-avatar">
    		<img ng-src="img/no-img.jpg">
    		<h2>{{playlist.creator.name}}</h2>
    		<p>{{playlist.creator.email}}</p>
    	</div>
    	<div class="item item-body">
    		<ion-list>
    			<ion-item ng-if="playlist.songs.length" ng-repeat="song in playlist.songs" class="item item-thumbnail-left">
    				<img ng-src="{{song.albumArtURL}}">
    				<h3>{{song.title}}</h3>
    				<p>{{song.artist}} - Album: {{song.album}}</p>
    			</ion-item>
    			<ion-item ng-if="!playlist.songs.length" class="item item-icon-left">
    				<i class="ion-close-round"></i>
    				 Não a músicas nesta playlist.
    			</ion-item>
    		</ion-list>
    	</div>
    </div>
  </ion-content>
</ion-view>
